# Ignore OS, editor files
.DS_Store
.idea
.keep
*.rbc
.generators

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/spec/tmp
terraform.log

# dotenv, dotenv-rails
.env
.env.*

## Environment normalization:
/.bundle
/vendor/bundle

## Ignore coverage files
/coverage/

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage/*
!/storage/.keep
/public/uploads

# Ignore docker
db/mysql/**/*

# Ignore Rails credential keys
/config/credentials/*
