


p
= I18n.t('reset_password.hello', email: @user.email)
br
p
= I18n.t('reset_password.email_content')
p
= link_to I18n.t('reset_password.link_text'), URI::join(@host, '/password_reset', "?reset_token=#{@token}").to_s
p
= I18n.t('reset_password.ignore_email')